---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__hero--overlay {
  .page__title {
    color: $text-color;
    text-shadow: 1px 1px 4px #F2A3EE;
  }

  .btn--light-outline {
    color: white;
    text-shadow: 1px 1px 4px #88306B;
    background-color: $primary-color;
    border: 0px;
  }
  p.page__lead {
    color: $text-color;
    width: 50%;
    text-shadow: none;
  }
}

.btn--primary {
  color: white;
  text-shadow: 1px 1px 4px #88306B;
  // border: 2px dotted #FF00FF;
}

.masthead, .masthead__menu, #site-nav {
  background-color: $text-color;
  a {
    color: white;
    background-color: $text-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.greedy-nav a.site-title {
  font-weight: 700;
  text-shadow: 1px 1px 4px #F2A3EE;  
  margin: 0;
}

mark {
  -webkit-animation: 6s highlight .5s 1 normal forwards;
          animation: 6s highlight .5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #f2a3ee5a 25%, #f2a3ee15 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.img-third {
  width: 30%;
}